
body, h1, h2, h3 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #8D8D92;
    background-color: #36413E;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
  }

  main {
    padding: 1em;
    flex-grow: 1;
    height: 80vh;
    overflow: auto;
    box-sizing: border-box;
  }

  header {
    border-bottom: 1px solid #BEB2C8;
    height: 10vh;
    box-sizing: border-box;
    background-color: #94D1BE; 
  }

  footer {
    border-top: 1px solid #BEB2C8;
    height: 10vh;
    box-sizing: border-box;
    background-color: #BEB2C8; 
    text-align: center;
  }

  h3 {
    color:#FFFFFF;
    text-align: center;
    font-size: 100%;
  }

  h2 {
    color:#DAF0EE;
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
  }

  h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 150%;
  }
