
body {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    color: #36413E;
    background-color: #8D8D92;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
  }

  main {
    padding: 1em;
    flex-grow: 1;
    height: 80vh;
    overflow: auto;
    box-sizing: border-box;
  }

  header {
    border-bottom: 1px solid #000000;
    height: 10vh;
    box-sizing: border-box;
    background-color: #6f6f74;
  }

  footer {
    border-top: 1px solid #000000;
    height: 10vh;
    box-sizing: border-box;
    background-color: #6f6f74; 
    text-align: center;
  }

  h3 {
    color:#36413E;
    text-align: center;
    font-size: 100%;
  }

  h2 {
    color:#36413E;
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
  }

  h1 {
  color: #D7D6D6;
  text-align: center;
  font-size: 200%;
  }

  .container {
   background-color: #D7D6D6;
   border: 2px solid #36413E;
   padding: 5px;
  }

  
