
body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #aca6a6;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
  }

  main {
    padding: 1em;
    flex-grow: 1;
    height: 80vh;
    overflow: auto;
  }

  header {
    border-bottom: 1px solid black;
    height: 20vh;
  }

  footer {
    border-top: 1px solid black;
    height: 10vh;
  }

